<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='utf-8'> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= title %></title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js'></script>

    <link rel='stylesheet' href='/main.css'>
    <link rel="stylesheet" href="/jquery.loadingModal.css">
    <script src='/base64js.min.js'></script>
    <script src='/jsoneditor.js'></script>
    <script src="/BootstrapMenu.min.js"></script>
    <script src="/jquery.loadingModal.js"></script>
    <script src='/encoder.js'></script>
    <script src='/module.js'></script>
    <script src='/main.js'></script>
    <script src='/users.js'></script>
</head>
<body>
<% include ../Partials/header %>
<%- body -%>
<% include ../Partials/footer %>
</body>
</html>
